<div class="zusus-select">
	<div class="zusus-select-selector">
		<div class="zusus-select-selector-overflow">
			<div class="zusus-select-item">
				<span class="zusus-select-item-text">选项1</span>
				<span class="zusus-select-item-close">x</span>
			</div>
			<div class="zusus-select-item">
				<span class="zusus-select-item-text">选项1</span>
				<span class="zusus-select-item-close">x</span>
			</div>
		</div>
		<!-- placeholder -->
	</div>
</div>

<div class="cascade-option-panel">
	<column-list 
		merge-options="mergeOptions"
	></column-list>
</div>