<div class="cascade-list">
	<div 
		class="cascade-item"
		ng-class="{ 'cascade-item-active': item.value === activeValue }"
		ng-repeat="item in optionList"
		ng-click="onCascadeItemClick(item)"
	>
		<checkbox
			checked="checkedSet.has(item.fullPathKey)"
			indeterminate="halfCheckedSet.has(item.fullPathKey)"
			on-click="onCheckboxClick(item)"
		></checkbox>
		<div class="cascade-item-text">{{ item.label }}</div>
		<div 
			ng-if="!item.isLeaf"
			class="cascade-item-icon"
		>&gt;</div>
	</div>
</div>